language: python
#cache: pip
#dist: precise

python:
    - "2.7"
    - "3.5"
    - "3.6"


before_install:
    - sudo apt-get install gfortran
    - sudo apt-get install libsuitesparse-dev

install:
    - export TEMPO2=$HOME/.local/tempo2
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$TEMPO2/lib
    - mkdir -p $TEMPO2
    - curl -O https://bitbucket.org/psrsoft/tempo2/get/master.tar.gz -z master.tar.gz
    - tar zxvf master.tar.gz
    - cd psrsoft-tempo2-*
    - ./bootstrap
    - ./configure --prefix=$TEMPO2
    -  make && make install
    - cp -Rp T2runtime/* $TEMPO2/.
    - cd ..
    - rm -rf psrsoft-tempo2-*

    - pip install -r requirements_dev.txt
    - pip install -r requirements.txt
    - git clone https://github.com/vallis/libstempo.git
    - cd libstempo
    - python setup.py install --with-tempo2=$TEMPO2
    - cd ../

script:
    - coverage run --source enterprise setup.py test
    - make lint

after_success:
    coveralls
