language: python
#cache: pip
dist: precise

python:
    - "2.7"
    - "3.5"
    - "3.6"


before_install:
    - sudo apt-get install gfortran
    - sudo apt-get install libsuitesparse-dev

install:
    - export TEMPO2=$HOME/.local/tempo2
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$TEMPO2/lib
    - mkdir -p $TEMPO2
    - curl -O https://bitbucket.org/psrsoft/tempo2/get/master.tar.gz -z master.tar.gz
    - tar zxvf master.tar.gz
    - cd psrsoft-tempo2-*
    - ./bootstrap
    - ./configure --prefix=$TEMPO2
    -  make && make install
    - cp -Rp T2runtime/* $TEMPO2/.
    - cd ..
    - rm -rf psrsoft-tempo2-*

    - sudo apt-get update
    # We do this conditionally because it saves us some downloading if the
    # version is the same.
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    # Useful for debugging any issues with conda
    - conda info -a

    # Replace dep1 dep2 ... with your dependencies
    - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy cython
    - source activate test-environment
    - pip install -r requirements_dev.txt
    - pip install -r requirements.txt
    - git clone https://github.com/vallis/libstempo.git
    - cd libstempo
    - python setup.py install --with-tempo2=$TEMPO2
    - cd ../

    # hack
    - pip install -U scikit-sparse

    - python setup.py install

    #- pip install -r requirements_dev.txt
    #- pip install -r requirements.txt
    #- git clone https://github.com/vallis/libstempo.git
    #- cd libstempo
    #- python setup.py install --with-tempo2=$TEMPO2
    #- cd ../

script:
    - make test
    #- coverage run --source enterprise setup.py test
    - make lint

after_success:
    coveralls
