name: CI-Tests

on:
  push:
#    branches:
#    - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Pre-install
      run: |
        sudo apt-get install libsuitesparse-dev
        python -m pip install --upgrade pip
    - name: Install Dependencies
      run: |
        cat requirements.txt | xargs -n 1 -L 1 pip install
        cat requirements_dev.txt | xargs -n 1 -L 1 pip install
        pip install git+https://github.com/vallis/libstempo.git@master --install-option="--force-tempo2-install"
        python setup.py install
    - name: Display Python, pip, and setuptools version
      run: |
        python -c "import sys; print(f'Python {sys.version}')"
        python -c "import pip; print(f'pip {pip.__version__}')"
        python -c "import setuptools; print(f'setuptools {setuptools.__version__}')"
        pip freeze
    - name: Lint
      run: make lint
    - name: Lint and Run Tests
      run: pytest --cov=./ --cov-report=xml --cov-config=.coveragerc
    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
